#footer {
	width: 70%;
	height: 40px;
	margin: 0 auto;
	border-top: 1px solid rgba(33, 37, 41, 0.5);
}

.footer-items {
	height: 40px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}

.footer-item {
	width: fit-content;
	padding: 6px 15px;
}

.footer-item a,
.footer-item span {
	color: rgba(33, 37, 41, 0.5);
	font-size: 12px !important;
}

.footer-item a:hover {
	color: #212529;
	text-decoration: none;
}
